body {
    background-color : lightblue;
}

#box{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    width:25%;
    height:60%;
    padding:20px;
    background : white;
    border-radius:15px;
}

#login{
    margin-top:10%;
    margin-left:23%;
    font-family: 'Wire One', sans-serif;
    font-size:150px;
    z-index:1;
    margin-bottom:15%;
}

.logo{
    display: inline-block;
    margin:10px;
}

#name {
    position:absolute;
    right:0;
    margin-right:27%;
    margin-top:10%;
    font-family: 'Wire One', sans-serif;
    font-size:50px;
}

#username{
    margin-top:100px;
}

.inputs{
    padding:10px;
    width:100%;
    font-family: 'Lato', sans-serif;
    border-style: solid;
    border-color: navy;
    border-width: 0px 0px 3px 3px;
    border-radius: 5px;
    background-color: lightblue;
}

.logindetails{
    font-family: 'Lato', sans-serif;
    font-weight:200;
    margin-top:10px;
    font-size:20px;
}

#button{
    position:absolute;
    left:75%;
    top:83%;
    color : white;
    background-color: lightgray;
    border-style : solid;
    border-color: navy;
    border-width: 0px 0px 4px 4px;
    border-radius: 7px;
    font-family : 'Lato', sans-serif;
    font-size: 20px;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

#button:hover{
    background-color: gray;
}


/* input[type=text] {
    border:2px solid black;
    width:50%;
    resize:none;
    border-radius:4px;
}

h1.login{
    text-align:center
} */