body{
    background-color: rgb(137, 201, 226);
}
.header{
    overflow: hidden;
    background-color: navy;
    padding:20px 10px;
}

.header a{
    float: left;
    color: white;
    text-align: center;
    padding: 5px;
    padding-left: 40px;
    border-radius: 5px;
    text-decoration:none;
}

.header a.main{
    font-size: 100px;
    font-family: 'Wire One', sans-serif;
}

.header-right{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    padding: 20px;
    font-size: 40px;
    float: right;
}

.onlineusers{
    margin-top: 2%;
    background-color:lightgray;
    font-family: 'Lato', sans-serif;
    width:15%;
    height:77%;
    text-align: center;
    font-weight: 300;
    overflow-y: auto;
}

.onlineusers button{
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 20px;
    border: none;
}

.onlineusers button:hover{
    background-color:gray;
}

.onlineusers a{
    text-decoration: none;
    color:black;
    margin-bottom: 10px;
    font-size: 20px;
    border: none;
}

.onlineusers a:hover{
    color:blue;
}

.information{
    margin-top : 2%;
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

#name{
    font-size: 50px;
}

.content{
    display: inline-block;
    margin-right:20px;
}

.button{
    text-decoration:none;
    font-size:20px;
    font-family: 'Lato', sans-serif;
    font-weight:100;
    background-color:rgb(35, 82, 182);
    color:white;
    border:none;
    padding: 1% 2%;
}

.button:hover{
    background-color:navy;
}

.primary{
    border-style:solid;
    border-width:10px;
    border-color:navy;
}