body{
    background-color: rgb(137, 201, 226);
}
.header{
    overflow: hidden;
    background-color: navy;
    padding:20px 10px;
}

.header a{
    float: left;
    color: white;
    text-align: center;
    padding: 5px;
    padding-left: 40px;
    border-radius: 5px;
    text-decoration:none;
}

.header a.main{
    font-size: 100px;
    font-family: 'Wire One', sans-serif;
}

.header-right{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    padding: 20px;
    font-size: 40px;
    float: right;
}

.onlineusers{
    margin-top: 2%;
    background-color:lightgray;
    font-family: 'Lato', sans-serif;
    width:15%;
    height:77%;
    text-align: center;
    font-weight: 300;
    overflow-y: auto;
    float:left;
}

.onlineusers button{
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 20px;
    border: none;
}

.onlineusers button:hover   {
    background-color:gray;
}
.messages{
    margin-top:2%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    border-radius:3px;
    width:60%;
}

.message{
    height:60%;
    margin-bottom:1%;
    overflow:auto;
}
#message{
    background-color:white;
    border-radius:5px;
}

.messages h1{
    margin-left:2%;
    margin-right:2%;
    padding:1%;
    border-radius:3px;
}

.mine{
    float:right;
    clear:both;
    background-color: lightgray;
}

.theirs{
    float:left;
    clear:both;
    color:white;
    background-color: rgb(21, 23, 150);
}

.content {
    display:inline-block;
    margin-right:30px;
}

#messagebox{
    border-radius:3px;
    height:15%;
    width:90%;
    resize: none;
}

.sendb{
    margin-top:0%;
    font-family: 'Lato', sans-serif;
    font-size:20px;
    color:white;
    border:none;
    background-color:navy;
}

.profile{
    width:15%;
    height:50%;
    margin-top:2%;
    font-family: 'Lato', sans-serif;
    font-size:20px;
}

.messages img{
    border-style:solid;
    border-width:5px;
    border-color:lightgray;
    border-radius:5px;
    margin:2%;
}

.messages video{
    border-style:solid;
    border-width:5px;
    border-color:lightgray;
    border-radius:5px;
    margin:2%;
}

.messages audio{
    border-style:solid;
    border-width:5px;
    border-color:lightgray;
    border-radius:5px;
    margin:2%;
}

.messages object{
    border-style:solid;
    border-width:5px;
    border-color:lightgray;
    border-radius:5px;
    margin:2%;
}

.pdf {
    text-decoration:none;
    color:navy;
    border-style:solid;
    border-width:5px;
    border-color:lightgray;
    border-radius:5px;
    margin:2%;
    font-size:20px;
}

#pic {
    border-style:solid;
    border-width:5px;
    border-color:navy;
}